.gmap_static_map_block {
  position: relative;
  left: 0;
  display: inline-block;
  margin: 20px auto;
  overflow: hidden;
}

.gmap_static_extend {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  background: url( expand_btn_up.png ) no-repeat;
  background-size: 100% 100%;
  height: 50px;
  cursor: pointer;
}

.gmap_static_extend:active,
.gmap_static_extend:hover {
  background: url( expand_btn_hover.png ) no-repeat;
  background-size: 100% 100%;
}

.gmap_static_collapse {
  position: absolute;
  right: 8px;
  top: 40px;
  width: 35px;
  background: url( close_btn_up.png ) no-repeat;
  background-size: 100% 100%;
  height: 35px;
  cursor: pointer;
}

.gmap_static_collapse:active,
.gmap_static_collapse:hover {
  background: url( close_btn_hover.png ) no-repeat;
  background-size: 100% 100%;
}

.gmap_static_bigmap {
  position: fixed;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  z-index: 999;
  left: 20px;
  bottom: 20px;
}


.gmap_static_iframe_fullscreen {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.9);
}
